.createPost{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
.main-div{
    border-top:10px ;
    border-top: 1px solid rgb(173, 173, 173);

}
h5{
    display: inline-block;
}
.card-header{
    display: flex;
}
.post-header{
    display: flex;
}

#post-btn{
    border: none;
    color: blue;
    background: none;
    font-weight: bolder;
    cursor: pointer;
}

textarea{
    width: 90%;
    border: none;
    outline: none;
}
#output{
    width: 300px;
    border: none;
    outline: none;
    margin-top: 5px;
}