.createPost{
    max-width:800px;
    margin: 30px auto;
    border: 1px solid;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}
h5{
    display: inline-block;
}
.card-header{
    display: flex;
}
.post-header{
    display: flex;
}

textarea{
    width: 90%;
    border: none;
    outline: none;
}
#output{
    width: 300px;
    border: none;
    outline: none;
    margin-top: 5px;
}
/* ............ */
/* From Uiverse.io by Creatlydev */ 
.card1 {
  margin: auto;
  width: min(300px, 100%);
  background-color: #fefefe;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #141417;
}
.card__hero {
  background-color: #E9EEF1;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  font-size: 0.875rem;
}
.card__hero .card__job-title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  padding-right: 2rem;
}

.card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.75rem;
  row-gap: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
@media (min-width: 340px) {
  .card__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
.card__job-summary {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem;
}
.card__btn {
  width: 100%;
  font-weight: 400;
  border: none;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  border-radius: 1rem;
  background-color: #141417;
  color: #fff;
  font-size: 1rem;
}
@media (min-width: 340px) {
  .card__btn {
    width: max-content;
  }
}
/* ////////////////// TEXT AREA */ 
/* From Uiverse.io by Cobp */ 

  .container_chat_bot .container-chat-options .chat {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
  }
  
  .container_chat_bot .container-chat-options .chat .chat-bot {
    position: relative;
    display: flex;
  }
  
  .container_chat_bot .chat .chat-bot textarea {
    background-color: transparent;
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 100px;
    color: #000000;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    resize: none;
    outline: none;
  
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      cursor: pointer;
    }
  }
  .card__hero{
    position: relative;
  }
  .card__hero input{
    opacity: 0;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
  }


  