img{
    width:10%;
    object-fit: contain;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 139, 225);
    box-shadow: 1px 1px 8px #333;
}

ul{
    display: flex;
}
li{ 
    list-style: none;
    padding: 1px 15px ;
}
a{
    text-decoration: none;
}