.profile{
    max-width: 600px;
    margin: 10px auto;
}
.profile-pic>img{
    max-width: 160px;
    max-height: 160px;
    border-radius: 100px;

}
.profile-frame{
    display: flex;
    justify-content:space-evenly;
}
.profile-info p{
    padding: 5px;
}
.profile-info{
    display: flex;
}
.gallery img{
    width: 30%;
    margin: 10px;
}
.changePic {
    background-color: #fff;
    border-radius: 20px;
  }
  
  .changePic div {
    padding: 15px 80px;
  }
  
  .upload-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
  
    font-size: 15px;
  }