.profile{
    max-width: 600px;
    margin: 50px auto;
}
.profile-pic>img{
   width: 130px;
   height: 130px;
  border-radius: 100px;
  object-fit: cover;
}
.profile-frame{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.profile-info p{
    padding: 5px;
}
.profile-info{
    display: flex;
}
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .item{
    justify-content: left;
    justify-content: center;
    display: inline-block;
}
.gallery img{
    width: 30%;
    margin: 10px;
}
.changePic {
    background-color: #fff;
    border-radius: 20px;
  }
  
  .changePic div {
    padding: 15px 80px;
  }
  
  .upload-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
  
    font-size: 15px;
  }
  .followBtn {
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #0115eb;
    transition: all 0.25s ease;
    margin-left: 20px;
  }
  
  .followBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px -10px #0115eb;
  }
  
  .changePic {
    background-color: #fff;
    border-radius: 20px;
  }
  
  .changePic div {
    padding: 15px 80px;
  }
  
  .upload-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
  
    font-size: 15px;
  }

  .pofile-data h1{
    text-align: left;
    margin: 5px;
  }
  .grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  }
  
  .grid__photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ✅ Makes sure the image fills square properly */
  }
  
  img.grid__photo{
    object-fit: cover;
    overflow: hidden;
    height: 100%;
  }
  .box{
    width: 100%;
  aspect-ratio: 1 / 1;  /* ✅ Forces Square */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  @media (max-width: 320px) {
    .box {
      height: 106px;
      width: 106px;
    }
    .profile-pic>img{
      width: 90px;
      height: 90px;
    }
  }
  @media (max-width: 375px) {
    .box {
      height: 125px;
      width: 125px;
    }
    .profile-pic>img{
      width: 100px;
      height: 100px;
    }
  }
  
  
  /* Specific breakpoints for fine-tuned control */
  @media (max-width: 425px) {
    .box {
      height: 140px;
      width: 140px;
    }
    .profile-pic>img{
      width: 110px;
      height: 110px;
    }
  }
  

  @media (max-width: 768px) {
    .box {
      max-height: 200px;
      max-width: 200px; /* Makes gap dynamic based on screen width */
    }
    .App{margin: 33px 0 0 0!important; }
    .profile-pic>img{
      width: 120px;
      height: 120px;
    }
  }
  